*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
background-color: lightblue;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.Container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.Container .left-side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2)
}
.profileText .image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.Contact-Info{
    padding-top: 40px;;
}
.title{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.Contact-Info ul{
    position: relative;
}
.Contact-Info ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
.Contact-Info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.Contact-Info ul li span{
    color: #fff;
    font-weight: 300;
}
.Technical-Skill{
    color: #fff;
}
.Technical-Skills li{
    margin-bottom: 15px;
}
.Technical-Skills h3{
    color: #03a9f4;
    font-weight: 500;
    color: #fff;
}
.Profile{
    color: #fff;
}

.Container .right-side{
    position: relative;
    background: #fff;
    padding: 40px;
}
.mini{
    margin-top: 8px;
}
.main{
    margin-top: 8px;
}
table,th,tr,td{
    border:  solid black;
    border-collapse: collapse;
}
.Interest{
    margin-top: 10px;
}
.reference{
    margin-top: 10px;
}